*.rbc
/.config
*.nds
/session_settings.json
/exports
/xdeltas
logs.txt
/__pycache_
/projects/*
/python/__pycache__
/spec
/public/dist/*.json
/public/dist/*.js
*.zip
.DS_Store
*.xdelta
/documentation/*.txt
*.o
.env
passenger.3000.log
/public/*.txt
/public/dist
/public/*.json