<div class="pokemon-filter">	
	
	
</div>

<div class="pokemon-list spreadsheet" id="grottos">
	<% @logs.reverse.each do |log| %>
		<div class="expanded-field filterable">
			<div class="expanded-field-main">
				<div class="log-text"><%= log %></div>

			</div>

		</div>
	<% end %>
</div>


