
<div class="pokemon-filter">	




		<div class="filter-title" id="offline"><%= @game_title %></div>


			<label for="save-upload" id="save-upload-btn">Choose Save</label>
			<input type="file" id="save-upload" name="filename" label="Upload Save" hidden></input>
			<input type="text" id="save-lvl" name="level" placeholder="Level to export at"></input>

			<input type="text" id="game" name="game" value="<%= @game %>" style="display:none"></input>


			<button class="btn -default" id="load-save">Load</button>



			<button class="btn -default" id="load-save2">Backup Load: Try if above doesn't work</button>



			<br><br><br>
			<textarea id="debug-info" placeholder="For Debugging"></textarea>



	
	

</div>

<div class="pokemon-list">
	<textarea id="showdown-export"><%= @showdown %></textarea>
	
</div>


