
<div class="pokemon-filter">	




		<div class="filter-title" id="offline">Read Save</div>

		<form id="save-form" action="/read_save" method="POST" enctype="multipart/form-data">
			<input type="file" id="save-upload" name="filename" label="Upload Save"></input>
			<input type="text" id="save-lvl" name="level" placeholder="Level to export at"></input>



			<input class="btn -default" id="load-save" type="submit"/>
		</form>
	
	

</div>

<div class="pokemon-list">

	
</div>


