#mastersheet {
	color:  #f1f1f1;
	padding-top:  20px;
	max-width: calc(82vw - 40px);
	margin-left: calc(18vw + 20px);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#content-container {
	background: #121212;
}

.master-sidebar.pokemon-filter {
	background: rgba(255,255,255,0.05);
}

#mastersheet .filterable, #mastersheet .expanded-card-content {
	margin-top:  0px;
	width: auto;
}

#mastersheet .filterable.doc-enc {
	width: 100%;
}

#mastersheet .filterable {
	background: rgba(255,255,255,0.05)
}






#ms-source {
	height: 90vh;
	width:  400px;
	opacity: 0.8;
}

#ms-editor {
	height: 400px;
	width:  400px;
	position:  fixed;
	top: 40px;
	right: 40px;
	z-index: 10;
}

#submit-ms {
	height: 30px;
	background: #bd93f9;
	border-radius: 5px;
	text-align: center;
	width:  100%;
	line-height: 30px;
	margin-top: 5px;
	cursor:  pointer;
	color: #f1f1f1;
}

.master-sidebar input {
	height:  40px;
}

.ms-pok td {
	color:  #f1f1f1;
}

.ms-trainer {
	margin-right: 20px;
}

#manip-lvl {
	display: inline;
    width: 65px;
}

#mastersheet p {
	font-size: 20px;
	margin:  10px 0px;
	min-height: 20px;
	padding-left: 60px;
}

#mastersheet h1, #mastersheet h2 {
	margin-top: 40px;
	padding-left: 60px;
	width: 100%;
}

#mastersheet h3 {
	margin-top: 20px;
	margin-bottom:  20px;
	font-size:  30px;
	padding-left: 60px;
	width: 100%;
}

#mastersheet p {
	width: 100%;
}

#mastersheet h2 {
	font-size:  36px;
	border-bottom:  2px solid #f1f1f1;
	padding-top: 20px;
	padding-bottom:  20px; 
}

#mastersheet h1 {
	text-align: center;
	font-size:  48px;
	border-bottom: 4px solid #f1f1f1;
}
.ms-trainer .expanded-field-main {
	width:  120px;
}

.ms-trainer.mand {
	border:  1px solid #bd93f9;

}

.ms-trainer .expanded-field-main {
	margin-right: 20px;
	
}


.ms-trainer.mand .trainer-name {
	color: bd93f9;
}

.ms-trainer.expanded-field.filterable {
	display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 5px;
}

.ms-trainer .expanded-card-content {
	width: calc(100% - 180px);
}

.ms-trainer .trainer-name, #mastersheet img {
	width: 160px;
}

#mastersheet .filterable {
	margin-bottom: 10px;
}

#mastersheet .trainer-doc-item {
	width: 160px;
	margin-bottom: 10px;
}

#mastersheet .expanded-field.filterable.ms-trainer {
	width: auto;
}

#mastersheet .expanded-field .move-info.expand-grass, #mastersheet .expanded-field:hover .move-info.expand-grass  {
	bottom:  0px;
	left:  40px;
}

#mastersheet .expanded-field .move-info.expand-water {
	bottom:  0px;
	left:  80px;
}

#mastersheet .move-info {
	display: block;
}

#mastersheet .encounter-wilds {
	width:  calc(100% - 180px);
}

.doc-enc {
	cursor: pointer;
	border:  2px solid transparent;
	box-sizing:  content-box;
	width: 100%;
}

.doc-enc:hover {
	border: 2px solid #1abc9c;
}

#mastersheet .doc-move, #mastersheet .doc-species, #mastersheet .enc-name, .ms-enc-name    {
	cursor:  pointer;
	color:  #1abc9c;	
}

#mastersheet .doc-sprite:hover {
	border: 1px solid #1abc9c;
	border-radius:  4px;
	cursor:  pointer;
}


.ms-pok .pokemon-card__name{
	margin-top: 40px;
}

.ms-pok .pokemon-card__ability{
	display: block;
    width: auto;
    margin-top:  10px;
}

.ms-pok .pokemon-card__info {
	margin-left: 0px;
}

.ms-pok .pokemon-card__table td {
	text-align:  left;
}

.ms-pok .expanded-left {
	width:  100%;
}

.ms-pok .move-name, .ms-move .move-name {
	width:  130px;
}

.ms-move .move-name {
	margin-left: 20px;
}

.ms-move .move-power, .ms-move .move-accuracy {
	width:  60px;
}
.ms-pok, .ms-move {
	display:  none;
}

.repel-manip {
	width: 120px;
    position: absolute;
    bottom: 0px;
    left: 100px;
    background: none;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 2px 10px;
    height: 30px;
    color: #f1f1f1;
}

#enc-info {
	display:  none;
}

.ms-desc {
	font-size:  18px;
}

.ms-pok .move-power, .ms-pok .move-accuracy {
	width:  40px;
}

.ms-pok .expanded-left {
	padding:  0px;
}

.ms-pok .move-level {
	width:  30px;
}

.ms-enc-header {
	font-size:  26px;
	margin: 20px 0px;
	text-align: center;
}

.ms-enc-main-header {
	font-size:  32px;
	margin: 20px 0px;
	text-align: center;
}
.ms-enc-row {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

.tr-notes {
	margin-top:  20px;
}

#mastersheet .wild.dupe  {
	background: rgba(255, 85, 85, 0.5);
	border-radius: 10px;
}

#mastersheet .wild:hover {
	border: 1px solid #1abc9c;	
	border-radius: 10px;
}

#mastersheet .filterable:nth-child(2n) {
    background: rgba(255,255,255,0.05);
}

#mastersheet .filterable:nth-child(2n) .expanded-card-content, .filterable:nth-child(2n) .expanded-card-subcontent, #mastersheet .filterable .expanded-card-content{
    background: rgba(255,255,255, 0.1);
    border-radius: 10px;
}

/* Dynamic Calc Stuff */




